---
import { getCollection } from 'astro:content';
import { getEntry, render } from 'astro:content';

import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map(post => ({
    params: {
      slug: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

---
<Layout pageTitle={post.data.title}>
    <div class="post-image">
        <div class="post-heading">
            <h1>{post.data.title}</h1>
            <div class="blog-date">Опубликовано где-то: {new Date(post.data.pubDate).toISOString()}</div>
        </div>
    </div>
  <Content />
</Layout>
<style>
    .blog-date {
        text-align: end;
        color: gray;
    }
</style>
